@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">我最喜歡的角色是鬼滅之刃的狂三</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">或是約會大作戰的金色闇影</a>.</p>
</div>